   <%- include('header'); -%>
   <h2>This is the about page</h2>
   <p>Hi, I am Vishnu Prasad.I loves Electrical Stream and I am the Part-Time DEveloper for Full Stack WebDev.</p>

   <%- include('footer'); -%>
